<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'>
    <% if @hash.count == 0 %>
      <div class='search-no-results'>
        <h1>No Results for Search</h1>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  <% if @hash.count > 0 %>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: { maxZoom: 12 }, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
  <% end %>
</script>

