<div skill-form>
    <h2><%=@skill.skill%></h2>
    <%=link_to 'Add New Skill', new_skill_path, html_options = {type: "submit"} %>
    <%=link_to 'Edit Skill', edit_skill_path(@skill), html_options = {type: "submit"} %>
</div>
