<div class="homepage">  
  <div class="intro">
    <h2>Work with the Charter</h2>
    <p>
      Enter information about yourself and your organization here, and be easily connected with other people and groups that share your interests or have skills or expertise you need to advance your work.
    </p>
  </div>

  <div class="info">
    <h2>Make a Difference</h2>
    <p>
      Start out by signing up, entering your information and then searching – you can filter searches by interests, skills, and geography.
    </p>
    <p>
      If you have questions, you can send them to contact@charterforcompassion.org
    </p>
  </div>

  <footer class="home-footer">
    <p>
      This app was created by <a href="http://www.rubyforgood.org">Ruby for Good</a> volunteers as a gift to the Charter. We appreciate their support.
    </p>
  </footer>
</div>
