<div class="homepage">  
  <div class="video">
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/wktlwCPDd94" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="info">
    <h2>Our Vision</h2>

    <p>
      We believe that a compassionate world is a peaceful world.
    </p>

    <p>
      We believe that a compassionate world is possible when every man, woman and child treats others as they wish to be treated--with dignity, equity and respect.
    </p>

    <p>
      We believe that all human beings are born with the capacity for compassion, and that it must be cultivated for human beings to survive and thrive.
    </p>

    <p>
      Join to make compassion a clear, luminous and dynamic force in our polarized world. Embrace the compassion revolution.
    </p>
  </div>
</div>
