input[type="submit"] {
  text-transform: uppercase;
}

.registration_form, .login {
  width: 40%;
  margin: 1rem auto;
}

.search-form {
  @include span-columns(4);
}

.search-results-list {
  @include shift(1);
  @include span-columns(7);
}

.org-form {
  @include shift(3);
  @include span-columns(6);
}

.add-member {
  margin: 15px 0px;
}

.autocomplete {
  margin-bottom: .75rem;
}

.homepage {
  .video {
    float: left;
    width: 50%;
    min-width: 500px;
  }
  .info {
    width: 50%;
    padding: 1rem;
    float: right;
  }
}

.select2-container {
  margin: 0px 0px 15px 0px !important;
}
