input[type="submit"] {
  text-transform: uppercase;
}

.registration_form, .login {
  width: 40%;
  margin: 1rem auto;
}

.search-form-and-map {
  @include span-columns(12)
}

.search-form {
  @include span-columns(4);
}

.search-map {
  @include span-columns(7)
}

.search-no-results {
  @include shift(2);
  @include span-columns(8);
}

.search-results-list {
  @include shift(2);
  @include span-columns(8);
}

.org-form {
  @include shift(3);
  @include span-columns(6);
}

.add-member {
  margin: 15px 0px;
  a {
    text-transform: uppercase;
  }
}

.autocomplete {
  margin-bottom: .75rem;
}

.homepage {
  .image {
    float: left;
    width: 33%;
    min-width: 400px;
    padding: 10em, 10em;
    .image-on-hill {
      text-align: center;
    }
  }
  .info {
    float: left;
    width: 66%;
    min-width: 500px;
    padding: 3em, 10em;
    .text {
      margin: 1em;
    }
  }
  .home-footer {
    float: left;
    width:100%;
    text-align: center;
    padding: 1rem;
  }
}

.select2-container {
  margin: 0px 0px 15px 0px !important;
}
