input[type="submit"] {
  text-transform: uppercase;
}

.registration_form, .login {
  width: 40%;
  margin: 1rem auto;
}

.search-form-and-map {
  @include span-columns(12)
}

.search-form {
  @include span-columns(4);
}

.search-map {
  @include span-columns(7)
}

.search-no-results {
  @include shift(2);
  @include span-columns(8);
}

.search-results-list {
  @include shift(1.5);
  @include span-columns(9);
}

.org-form, .interest-form, .skill-form{
  @include shift(3);
  @include span-columns(6);
  .simple_form > .field > .has-error {
    .help-block {
      color: #ffacac;
    }
    input {
      border-color: #ffacac;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px #ff0000;
    }
  }
}

.add-member {
  margin: 15px 0px;
  a {
    text-transform: uppercase;
  }
}

.remove-member-checkbox-hidden {
  visibility: hidden;
}

.remove-member-checkbox-visable {
  visibility: visible;
}

/* Style provided by https://codepen.io/bbodine1/pen/novBm */
.squaredFour {
  visibility: hidden;
  width: 20px;
  position: relative;
  margin: 20px auto;
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.5;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}
/* end .squaredFour */

.autocomplete {
  margin-bottom: .75rem;
}

.homepage {
  .image {
    float: left;
    width: 33%;
    min-width: 400px;
    padding: 10em, 10em;
    .image-on-hill {
      text-align: center;
    }
  }
  .info {
    float: left;
    width: 66%;
    min-width: 500px;
    padding: 3em, 10em;
    .text {
      margin: 1em;
    }
  }
  .home-footer {
    float: left;
    width:100%;
    text-align: center;
    padding: 1rem;
  }
}

.select2-container {
  margin: 0px 0px 15px 0px !important;
}
