<%= link_to "New Organization", new_organization_path %>

<table>
  <tr><th> Name </th></tr>
  <% @organizations.each do |org| %>
    <tr>
      <td>
        <%= link_to org.name, organization_path(org) %>
      </td>
    </tr>
  <% end %>
</table>
